<% @categories.each do |category| %>
    <h3><%= link_to category.title, category %>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), method: :delete, class: "destroy", data: {confirm: "Are you sure?"} %></h3>
    Products: <%= category.product_ids %><br><br>
<%end%>

