<h1>Queen Workx</h1>
<% Product.all.each do |product| %>
Category:    <%= product.category_id %><br>
Name: <%= link_to product.name, product %> <br>
Description: <%= product.description %> <br>
Price : $ <%= product.price %> <br> <br>
<% end %>